/* Main CSS file */

p {
  opacity:.7
}

.instructions > ul > li {
  border-bottom:1px solid #D3d3d3;
  list-style-type: none;
  padding:10px;
}

#sandbox, #my-div {
  margin-top:20px;
}


.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor:middle;
  font-size: 25px;
  font-style: bold;
}

.descr {
  font-size: 18px;
}

.axis text {
  font-size:10px;
}

.bar {
  opacity:.4;
}

form {
  margin-bottom:20px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#grey {
  color: #b7b7b7;
}

#purple {
  color: #861BB8;
}
