#sections {
  position: relative;
  display: inline-block;
  /*width: 250px;*/
  width: 400px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 300px;
}

#nograph {
  width: 800px;
}

#vis {
  display: inline-block;
  position: fixed;
  /*top: 60px;*/
  z-index: 1;
  margin-left: 0;
  height: 300px;
  width: 300px;
}

#vis2 {
  display: inline-block;
  position: fixed;
  /*top: 60px;*/
  z-index: 1;
  margin-left: 0;
  height: 300px;
  width: 300px;
}

#vis3 {
  display: inline-block;
  position: fixed;
  /*top: 60px;*/
  z-index: 1;
  margin-left: 0;
  height: 300px;
  width: 300px;
}

#vis4 {
  display: inline-block;
  position: fixed;
  /*top: 60px;*/
  z-index: 1;
  margin-left: 0;
  height: 300px;
  width: 300px;
}

.step:last-child {
  margin-bottom:calc(100vh - 100px);
}
